<div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card" >
          <h5 class="card-title">
           Cadastro
          </h5>
          <div class="card-body ">
            <form class="card-text" [formGroup]="cadastroForm">
              <div class="row">
                <div class="col-md-12"></div>
                <div class="col-md-12">
                  <label  id="emailLabel" for="email">Email*</label>
                  <input class="form-control" id="email" type="email" placeholder="E-mail (requerido)" formControlName="email"  [class.is-invalid] = "cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched">
  
                  <label id="senhaLabel" for="senha">Senha*</label>
                  <input type="password" id="senha"  class="form-control" formControlName="senha" [class.is-invalid] = "cadastroForm.get('senha')?.invalid && cadastroForm.get('senha')?.touched">
  
                  <label id="confirmarSenhaLabel" for="senha">Confirmar Senha*</label>
                  <input type="password" id="confirmarSenha"  class="form-control" formControlName="confirmarSenha" [class.is-invalid] = "cadastroForm.get('confirmarSenha')?.invalid && cadastroForm.get('confirmarSenha')?.touched">
  
                  <button class="btn btn-lg btn-primary w-100"> Cadastrar</button>
                  
                </div>
              </div>
            </form>
            <div class="row" style="margin-top:10px;">
              <div class="col-md-12" style="text-align: center;">
                 <a class="nav-link text-dark" href="/conta/login">Login</a>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>
  </div>
  